.content {
  height: 90vh;
  width: 100%;
  background-image: url(../assets/images/home.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: 5s;
  animation-name: animate;
  animation-direction: alternate;
  animation-duration: 30s;
  animation-fill-mode: forwards;
  animation-iteration-count: 4;
  animation-play-state: running;
  animation-timing-function: ease-in-out;
}

@keyframes animate {
  0% {
    background-image: url(../assets/images/home2.jpg);
  }

  20% {
    background-image: url(../assets/images/home3.jpg);
  }

  40% {
    background-image: url(../assets/images/home4.jpg);
  }

  60% {
    background-image: url(../assets/images/home5.png);
  }
}